.blueBackground{
	background-color: cornFlowerBlue;
}
.smallBorder{
	border: 2px solid black;
}
.largeBorder{
	border: 10px solid red;
}
.greenBackground{
	background-color: green;
}
.redBackground{
	background-color: red;
	float: left;
	width: 70%
}
.yellowBackground{
	background-color: yellow;
	/*overflow: hidden;*/
	width: 30%;
	float: right;
}